<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>169949396059-q718nb3j2ir54f7kls42hc6l3uafueg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169949396059-q718nb3j2ir54f7kls42hc6l3uafueg8</string>
	<key>API_KEY</key>
	<string>AIzaSyD3gOapibVHJaMrWODIl-mn7nE_7tyGSEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>169949396059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamlookingfor.LookingFor</string>
	<key>PROJECT_ID</key>
	<string>lookingfor-3d7c1</string>
	<key>STORAGE_BUCKET</key>
	<string>lookingfor-3d7c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:169949396059:ios:717f7395f5a7acee</string>
	<key>DATABASE_URL</key>
	<string>https://lookingfor-3d7c1.firebaseio.com</string>
</dict>
</plist>
